$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 5px;
    padding-bottom: 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.6em;
}

a {
    color: rgb(0, 34, 153);
}
p {
    margin-bottom: 15px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    margin-bottom: 40px;
    line-height: 50px;
    font-size: 50px;
    font-weight: bold;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
footer {
    padding-top: 19px;
    color: #777;
    font-size: 12px;
    text-align: center;
}

.container-narrow > hr {
    margin: 30px 0;
}

.col-md-6 {
    padding-left: 0px;
}

#nav {
    margin: 20px;
}
.col-md-8 .col-md-12 {
    p {
       padding-left:0px; 
    }
    

    h3{
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 10px;
    font-size: 1.3em;   
    font-weight: bold;
    line-height: 1.5em;
    background-color: rgb(238, 238, 238);
    width: 100%; 
    }       

}

.col-md-4 {
    padding-left: 0px;
}
.col-md-12 {
    margin-bottom: 10px;
}

.selector {
    float: left; 
    margin-left: 20px;
}

.list {
    margin-top: 20px;
    clear: both;
}

.searchBar {
    margin: 0 auto;
    text-align: center;
}

.filterBar {
    width: 70%;
    height: 20px;
    margin: 0 auto;
}
#search {
    width: 50%;
    margin-bottom: 10px;
}

#content {

    select {
        width: 100px;
    }
}

.list {
    padding-top: 20px;
}
.card {
    width: 45%;
    height: 250px;
    float:left;
    margin:10px;
    border: 1px solid black;
    padding: 6px;

    ul {
        list-style-type: none;
        padding-left: 5px;
    }
}

@media screen and (max-width: 768px) {

    .card {
        width: 100%;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 800px;
    }

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
